@import "../variables";

.header {
  nav {
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    padding-bottom: 0.35rem;
    margin: 0.3rem auto;
    width: 76rem;

    @include breakpoint-down(medium) {
      width: 100%;
      padding-left: 2rem; 
      padding-right: 2rem;
    }

    @include breakpoint-down(small) {
      width: 100%;
      padding-left: 1.5rem; 
      padding-right: 1.5rem;
    }

    > button {
      font-size: $font-a;
      background-color: $primaryColor;
      color: white;
      &:hover {
        color: $primaryColor;
        background-color: white;
        
      }
      @include breakpoint-down(medium) {
        display: none;
      }
    }

    > a > img {
      height: 4.375rem;
      &:hover {
        height: 4.205rem;
        margin: 0.085rem 0.225rem;
        opacity: 0.9;
      }
      //For mobile, set header height to 60px 
      @include breakpoint-down(small) {
        height: 3.75rem;
        &:hover {
          height: 3.58rem;
          margin: 0.085rem 0.225rem;
        }
      }
    }
  }
}
